@model ProjektInzynier.Models.ProductModel

@{
    ViewData["Title"] = "Delete";
}

<br/>
<br/>

<h2>Usuwanie</h2>

<h3>Jesteś pewny że chcesz usunąć ten produkt ?</h3>
<div>
    
    <hr />
    <dl class="container">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TechnicalParameters)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TechnicalParameters)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Localization)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Localization)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProducentName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProducentName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProducentAdress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProducentAdress)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index"><button type="button" class="btn btn-secondary"><i class="fa fa-backward"></i> Wróć do listy produktów</button></a>
    </form>
</div>


